@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 240, 100%, 50%;
  --primary-foreground: 0, 0%, 100%;
  --secondary: 120, 100%, 50%;
  --secondary-foreground: 0, 0%, 100%;
  --destructive: 0, 100%, 50%;
  --destructive-foreground: 0, 0%, 100%;
  --muted: 210, 16%, 82%;
  --muted-foreground: 210, 16%, 20%;
  --accent: 340, 82%, 52%;
  --accent-foreground: 0, 0%, 100%;
  --popover: 0, 0%, 100%;
  --popover-foreground: 0, 0%, 0%;
  --card: 0, 0%, 100%;
  --card-foreground: 0, 0%, 0%;
  --border: 210, 16%, 82%;
  --input: 210, 16%, 82%;
  --ring: 210, 16%, 82%;
  --background: 0, 0%, 100%;
  --foreground: 0, 0%, 0%;

  --radius: 0.5rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}